/* Algemene CSS*/

/* Typografie en specifieke opmaak*/

body {
    background-color: paleturquoise;
}

h1 {
    color: dodgerblue;
    font-family: Verdana, Arial, sans-serif;
}
p  {
    color: darkolivegreen;
}

h1 {
    color: mediumpurple;
}
/* nu is h1 paars want css werkt met watervalsysteem, het onderste blijft*/