/* Algemene CSS*/
* {
    font-family: 'Oswald', sans-serif; /* font van google */
}

body {
    background-color: #5249d1;
}
/* Typografie en specifieke opmaak*/
h1 {
    color: #1E90FF;
    font-family: "Comic Sans MS", sans-serif;
}
p  {
    color: #d06de8;
    line-height: 30px;
    text-align: center;
}

h1 {
    color: mediumpurple;
}
/* nu is h1 paars want css werkt met watervalsysteem, het onderste blijft*/
#tekstkleur-rood {
    color: #FF000091;
}
.tekstkleur-geel {
    color: yellow;
}
/* class gebruikt "." */
h1.tekstkleur-geel {
    color: yellowgreen;
}
.tekst-vet {
    font-weight: 700;
}

footer p {
    color: black;
    font-size: 36px;
}
/* wordt niet zwart want "class" overtreft waterval*/
nav ul li a  {
    color: white;
    background-color: rgba(0, 0, 0, 0.56);
    text-decoration: none;
    font-size: 24px;
}
nav ul li a:hover {
    background: white;
    color: black;
    font-size: 44px;
    text-decoration: underline
}