/*algemene css*/

/*specifieke css*/
body{
    background-image: url("assets/download.jpeg");
    background-attachement: fixed;
    background-repeat: no-repeat;
    background-size: 1000px;

}

nav ul li {
    list-style-type: none;

}
nav ul li a:hover {
    color: green;
}

main{
    background-color: #FFF;
    /*padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 70px;
    padding-left: 50px;*/

    padding: 25px 30px 75px 50px; /*is hetzelfde, met klok mee kijken*/

    /*margin: 100px; wit ruimte rond kader*/

   /* border-top-width: 10px;
    border-top-color: darkgreen;
    border-top-style: dotted;*/
    border-top: 10px #f196f8 dotted;
    border-bottom: 20px #F196F8 solid;
    border-radius: 50px; /*rondingen*/

    width: 800px;
    margin: 100px auto; /*zorgt ervoor dat blok in het midden blijft als venster vervormt, heeeeeeel belangrijk*/

}
main ul li {
    list-style-type: circle; /*worden open bolletjes*/
}
main ol {
    background-color: darkgray;
}
main ol li {
    list-style-type: upper-roman;
    background-color: dimgrey;
    list-style-position: inside;
}
